@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Bagel+Fat+One&family=DM+Mono:wght@400;500&display=swap');

h1 {
    font-family: "Press Start 2P", cursive;
}

h2,
h3 {
    font-family: "Bagel Fat One", cursive;
}

body {
    font-family: "DM Mono", monospace;
    min-height: 100vh;
    background: linear-gradient(180deg,
            #ff7b54,
            #ffb26b,
            #f4e6c8);
}

/* BUTTON */
.btn-dark {
    background-color: #000000;
    border-color: #000000;
    transition: 0.2s;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background-color: #22c55e;
    border-color: #22c55e;
    color: white;
}